html, body {
  margin: 0;
  padding:100}

canvas1 {
  display: block;
}

canvas2 {
  display: block;
}

#wrap {
    /* Yosling. */
    position: absolute;
    z-index: 999999;
    left: 0;
    height: 60%;
    text-align: left;

    /* Solution part I. */
    display: table;
}

/* Solution part II. */
#inside {
    width: 100%;
    height: 100%;
    display: table-cellvertical-align center;
}